/*
 MIU Project 2
 Christopher Addington
 Term 1112, 01 December 2011
*/

body {
    background-color: #339933;
    background-image: -webkit-gradient(#2A692D, #336633 100%);
    background-repeat: no-repeat;
}
img[id=ctaimg]{
    margin: 0 0;
    width: 100%;
    
}
header h1:nth-child(1) {
    width: auto
    padding: 5px;
    margin: 0 0 20px 0;
    font: bold 36px Helvetica;
    color: #E2EF35;
    text-align: center;
    text-shadow: 1px 1px #141714;
    border: 1px solid #141714;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a 75%);
}
h1 label:nth-child(1) {
    font: bold 20px Helvetica;
}
h1 a {
    text-decoration: none;
    color: black;
}
form[id=search]{
    display: block;
    width: auto;
    margin:auto;
}
form select:nth-child(1) {
    margin: 0 0 20px 0;
}
select option {
    font: 14px Helvetica;
}
form fieldset {
    border: thin solid #141714;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a 25%);
}
fieldset legend {
    font: bold 18px Helvetica;
    color: #e2ef35;
    text-shadow: 1px 1px #141714;
    padding: 20px 0 0 0;
    letter-spacing: 10px;
}
fieldset span {
    font: small Helvetica;
}
ul li {
    margin: 0 0 10px 0;
    font: 14px Helvetica;
    line-height: 15px;
    list-style: none;
}
ul[id=sportslist] ul{
    text-align: center;
    text-shadow: 1px 1px #141714;
    font: bold 24px Helvetica;
    margin: 2px 0 2px 0;
    border: thin solid #141714;
    border-radius: 10px;
    padding: 15px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a, #474745 100%);
}
ul[id=sportslist] * ul:nth-child(1){
    margin: 25px 0 2px 0;
}
ul[id=sportslist] a{
    text-decoration: none;
    color: #e2ef35;
}
nav a {
    font: bold 14px Helvetica;
    text-decoration: none;
    color: #e2ef35;
    margin: 0 10px 0 0;
    padding: 3px;
    border: thin solid #141714;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a 100%);
    box-shadow: 2px 2px 0 0 rgba(110,110,110,1);
}
h1 a:nth-child(1) {
    font: bold 18px Helvetica;
    padding: 5px;
    border: thin solid #141714;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #94d996, #71a873 100%);
    box-shadow: 2px 2px 0 0 rgba(110,110,110,1);
}
section p:nth-child(1) {
    font: bold 14px Helvetica;
}
li label {
    font: 14px Helvetica;
}
input[type=submit] {
    margin: 20px 0 0 0;
    text-shadow: 1px 1px #141714;
    font: bold 16px Helvetica;
    border: thin solid #141714;
    background-image: -webkit-linear-gradient(top, #474745, #5c5b5a 100%);
    box-shadow: 2px 2px 0 0 rgba(110,110,110,1);
    border-radius: 10px;
    color: #e2ef35;
}
input[id=searchbox]{
    width: 60%;
    display: block;
    margin: 20px 0 0;
    border-radius: 10px;
}
input[id=gosearch]{
    margin: 3px;
}